<% if resource.errors.any? %>
  <div class="mt-5 rounded-xl border border-rose-200 bg-rose-50 px-4 py-3 text-rose-900" data-turbo-temporary>
    <div class="text-sm font-medium"><%= resource.errors.full_messages.to_sentence %></div>
  </div>
<% end %>
