NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SSO_URL=http://localhost:3002
NEXT_PUBLIC_ADMIN_URL=http://localhost:3004
NEXT_PUBLIC_DEFAULT_TENANT=demo
BACKEND_INTERNAL_URL=http://backend:3000
SSO_INTERNAL_URL=http://sso:3000

