RAILS_ENV=
RAILS_LOG_TO_STDOUT=
RAILS_MAX_THREADS=
BACKEND_DATABASE_HOST=
BACKEND_DATABASE_PORT=
BACKEND_DATABASE_NAME=
BACKEND_DATABASE_USER=
BACKEND_DATABASE_PASSWORD=
CLOUDINARY_URL=
SSO_BASE_URL=
BACKEND_AUTH_REQUIRED=
BACKEND_TENANT_REQUIRED=
BACKEND_HEADER_AUTH_ENABLED=
DEFAULT_MARKETPLACE_SUBDOMAIN=
CLIENTFRONT_BASE_URL=http://localhost:3000
ADMINFRONT_BASE_URL=http://localhost:3004
