RAILS_ENV=
RAILS_LOG_TO_STDOUT=
RAILS_MAX_THREADS=
SSO_DATABASE_HOST=
SSO_DATABASE_PORT=
SSO_DATABASE_NAME=
SSO_DATABASE_USER=
SSO_DATABASE_PASSWORD=
SSO_APP_HOST=
SSO_APP_PORT=
SSO_JWT_ISSUER=
SSO_JWT_TTL_SECONDS=
SSO_REFRESH_TOKEN_TTL_SECONDS=
SSO_JWT_SECRET=
OTP_SECRET_ENCRYPTION_KEY=
SSO_ALLOWED_REDIRECT_HOSTS=
